<div id="<%= dom_id spending %>">
  <p>
    <strong>Employee:</strong>
    <%= spending.employee_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= spending.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= spending.value %>
  </p>

</div>
